Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Actors/Tank/StaticMesh/Turret.uasset
Content/Actors/Tank/TankActor_BP.uasset
Content/Blueprints/ATGMGameModeBase_BP.uasset
Content/Maps/BattleGrounds.umap
Content/Pawns/Missile/Meshes/BackMissile.uasset
Content/Actors/Tank/StaticMesh/Turret.uasset
Content/Actors/Tank/StaticMesh/Turret.uasset
Content/Actors/Tank/TankActor_BP.uasset
Content/Blueprints/ATGMGameModeBase_BP.uasset
Content/Maps/BattleGrounds.umap
